body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
	position: relative;
    top: -30px;
	margin-top: 5px;
	.logo{
		display:inline-block;
		margin-left: 20px;		
		img{
			position: relative;
    		top: 8px;
   		}
	}
	.inicio {
		display:inline-block;
		color: $grisIconos;
		margin-right: 20px;
	}
	.buscar-cont {
		@include  buscar();
		.fa-search {
			margin-left: 15px;
			color: $grisIconos;
		}
		input {
		@include inputBuscar();
		}
		.buscador:focus {
			outline: none;
		}
		.fa-times {
			margin-left: 15px;
			color: $grisIconos;
		}
		.pines-cont {
			display:inline-block;
			border-left: 1px solid #CFCFCF;
			p{
				@include textoPines();
			}
			.fa-angle-down{
				@include iconDown();
			}
		}
	}
	.usuario {
		display:inline-block;
		img{
			@include imgUser();
		}
		p{
			display:inline-block;	
			color: $grisIconos;
		}
	}
	.nav-collapse {
		display:inline-block;
		.fa-bars {
			margin-left: 40px;
			color: $grisIconos;
			font-weight: 600;	
			font-size:25px;		
		}
		.sombra-hover {
			@include hoverCir();
		    left: 26px;
		    top: 36px;
		}
		.sombra-hover:hover {
			background-color: $colorHover;	
		}
	}
	.comments {
		display:inline-block;
		.fa-commenting{
			margin-left: 30px;
			color: $grisIconos;
			font-weight: 600;
			font-size:25px;				
		}
		.sombra-hover {
			@include hoverCir();
		    top: 37px;
		    left: 17px;
		}
		.sombra-hover:hover {
			background-color: $colorHover;
		}
	}
	hr {
		border-color: $colorHover;
	}
}

/* BODY */
.cuerpo {
	margin: 0 120px;
	padding: 30px 0;
	.json {
		.cont {
			@include contenedorJ();
			img{
				max-width: 100%;	
     			height:auto;				
				border-radius: 10px;
			}
			.text-contenedor {
				margin-bottom: 5px;
				clear: both;
				.likes {
					span {		
						@include likesSpan();				
						.fa-check {
							font-size: 8px;
							display: inline-block;
						}
					}	
				}
				.titulo {
					h5{
						@include tituloHcinco();
					}
				}
				.description {
					margin-top: 40px;
					font-size: 12px;
				}
				.user {
					span{
						@include userSpan();
					}
					.name {
						font-weight:700;
						width:60px;
						word-break: break-all;
					}
					p {
						font-size:10px;
						margin-right:5px;
						float:left;
					}
				}
			}
		}
	}
}

.hide {
	display: none;
}

/* MODAL */
#modal-pinterest {
	@include pModal();
	.close {
	@include pClose();
	}
	.mas {
		position: absolute;
	    right: 20px;
	    top: 50%;
	    background-color: #FFF;
	    border-radius: 50%;
	    padding: 5px 10px;
	}
	.intr {
		position: absolute;
	    right: 20px;
	    top: 57%;
	    background-color: #FFF;
	    border-radius: 50%;
    	padding: 3px 10px;	
	}
	.cont-modal {
	@include cajaM();
		.iconos-top {
			padding: 0 20px;
			.fa {
				color: $grisIconos;
				display: inline-block;
				margin-right:20px;
			}
			.guardar {
				display:inline-block;
				position: relative;
				left:45%;
				a{
					@include guardarA();
					.fa {
						margin-right:5px;
						color: #FFF;						
					}
				}
			}
		}
		.text-title {
			h4{
				margin: 10px 0;
				color: #404040;
			}
		}
		.img-modal {
			width: 350px;
			height: auto;
			img{
				@include modalImg();
			}
		}
		.usuario {
			margin: 20px 10px;
			span{
				@include spanUsuario();
			}
			.name {
				font-weight:700;
				word-break: break-all;
			}
			p{
				font-size:10px;
				margin-right:5px;
				float:left;
			}
		}
		.leer {
			a{
				@include leerA();
			}
		}			
		.descripcion {
			clear: both;			
			p{
				font-size: 12px;
				padding: 20px 15px;
			}
		}
	}
}

/* ICONOS */
.iconos-img {
	margin: 0 120px;
	height:50px;
	.img-cont {
		width: 100px;
		height:50px;
		display: inline-block;
		.blur {
			background-color: $colorIconoDos;
			width:100px;
			@include cajaBlur();				
		}
		img{
			width:100px;
			height: 50px;
			border-radius: 6px;
		}
		p{
			@include parrafoIc();			
			top: -55px;
			left: 30px;
		}
	}
	.img-cont-dos {
		width: 200px;
		height:50px;
		display: inline-block;
		.blur {
			background-color: $colorIconoTres;
			width:200px;
			@include cajaBlur();				
		}
		img{
			width:200px;
			height: 50px;
			border-radius: 6px;
		}
		p{
			@include parrafoIc();			
			top: -55px;
			left: 17px;
		}
	}	
	.img-cont-tres {
		width: 80px;
		height:50px;
		display: inline-block;
		.blur{
			background-color: $colorIconoDos;
			width:80px;
			@include cajaBlur();					
		}
		img{
			width:80px;
			height: 50px;
			border-radius: 6px;
		}
		p{
			@include parrafoIc();			
			top: -55px;
			left: 25px;
		}
	}
	.img-cont-cuatro {
		width: 120px;
		height:50px;
		display: inline-block;
		.blur {
			background-color: $colorIconoDos;
			width:120px;
			@include cajaBlur();				
		}
		img{
			width:120px;
			height: 50px;
			border-radius: 6px;
		}
		p{
			@include parrafoIc();
			top: -55px;
			left: 30px;
		}
	}		
}